# ==========================================
# ENVIRONMENT VARIABLES / SECRETS
# ==========================================
.env
.env.*
!.env.example


# ==========================================
# VIRTUAL ENVIRONMENT
# ==========================================
.venv/
venv/
env/


# ==========================================
# PYTHON CACHE
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd


# ==========================================
# JUPYTER
# ==========================================
.ipynb_checkpoints/


# ==========================================
# LARGE RAW DATA
# Not required for Streamlit deployment
# ==========================================
data/raw/
Data/raw/

*.nc
*.tif
*.tiff


# ==========================================
# GENERATED OUTPUT FILES
# ==========================================
outputs/


# ==========================================
# TEMPORARY / CACHE FILES
# ==========================================
*.tmp
*.temp
.cache/


# ==========================================
# OS FILES
# ==========================================
.DS_Store
Thumbs.db


# ==========================================
# VS CODE
# ==========================================
.vscode/